<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SCAN PROCESS</title>
</head>
<body>
    <strong>SCAN PROCESS</strong><br>
    <a href="/">index</a><br>
    <a href="/scan">scan</a><br>

    <br>

    <strong>Count</strong>: {{.Count}}<br>
    <strong>Error Code</strong>: {{.ErrorCode}}<br>

    <br>

    <h1>CiA {{.ProfileNo}}</h1><br>
    {{range .DeviceList}}
    {{.Name}} - {{.Info.ProductName}}<br>
    {{.Info.VendorName}}<br>
    - Product Code:     {{.Info.ProductCode}}<br>
    - Revision No:  {{.Info.RevisionNo}}<br>
    - Vendor ID:        {{.Info.VendorId}}<br>
    <br>
    {{end}}
</body>
</html>