<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SCAN</title>
</head>
<body>
    <strong>SCAN</strong><br>
    <a href="/">index</a><br>
    <a href="/scan">scan</a><br>
    <form method="POST" action="/scan">
        <input type="submit" value="scan">
    </form>
</body>
</html>