<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SCAN PROCESS</title>
</head>
<body>
    <strong>SCAN PROCESS</strong><br>
    <a href="/">index</a><br>
    <a href="/scan">scan</a><br>

    <br>

    <strong>ErrorCode</strong>: {{.ErrorCode}}<br>
    <strong>Count</strong>: {{.Count}}<br>

    <br>

    <strong>{{.Name}}</strong><br>
    - Product Name:     {{.Info.ProductName}}<br>
    - Product Code:     {{.Info.ProductCode}}<br>
    - Revision Number:  {{.Info.RevisionNo}}<br>
    - Vendor ID:        {{.Info.VendorId}}<br>
</body>
</html>